<!DOCTYPE html>
<html>
    <head>


        <title> Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>

            #banner 
            {
                height: 500px;
                width: 100%;
                object-fit: cover;
            }

            .custom-h1 {
                font-size: 4rem; /* Adjust the size as needed */
            }

   
       
       

 
        </style>

    </head>

    <body>

        <div class="container">
        
            <h1 class="text-center mt-4 mb-4 custom-h1 ">Welcome {{companyName}} </h1>
            <img id ="banner" class="img-fluid"  src="static\StealthLogo.png" height="200" alt="HTML Dog">



            
           


            <div class="text-center">
            <button type="button" class="btn btn-primary btn-sm mt-2"> Contact Us </button>
            <button type="button" class="btn btn-warning mt-2"> Careers </button>
            <p class="mt-2"> Copyright @2024, Stealth <p>         
            </div>
            
        </div>
        
    </body>
</html>