<!DOCTYPE html>
<html>
    <head>


        <title> Hybrid Farm</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>

            #banner 
            {
                height: 500px;
                width: 100%;
                object-fit: cover;
            }



 
        </style>

    </head>

    <body>

        <nav class="navbar navbar-expand-lg" style="background-color: rgb(200,200,200);">
            <a class="navbar-brand" style="color:black" href="/"> <img src="static/nvarLogo.png" alt="Logo" style="width: 35px; height: 30px; margin-right: 0px margin-bottom: 0px;">Stealth</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" href="/careers">Careers</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
        
            <h1 class="text-center mt-5 mb-5 " style="font-size: 4rem;" >Hybrid Farm</h1>
            <img id="banner" class="img-fluid" style="width: 80%; margin-left: 110px;" src="static/gameimages/Releasing Poster.png" alt="hybrid">

            <h2 class="text-center mt-5 mb-3" style="font-size: 3rem;"> On Your Platform 2025! </h2>
            <p class="lead">Hybrid Farm is an upcoming strategy game set against the picturesque backdrop of Sri Lanka's iconic Sigiriya. Releasing in 2025, this game blends strategic time management with animal product development, offering players an immersive experience in farm management. Players will cultivate and expand their farms, optimize production processes, and manage a variety of animals, all while navigating challenges unique to the region. With stunning visuals inspired by Sigiriya's natural beauty, Hybrid Farm combines traditional farming with innovative mechanics, allowing players to experience the rich cultural heritage of Sri Lanka while building a thriving, modern agricultural enterprise.</p>

            

            <div class="text-center">
            <button type="button" class="btn btn-warning btn-lg mt-4"> Pre-Order Now </button>
            <button type="button" class="btn btn-danger btn-lg mt-4" onclick="window.location.href='/hybridFarm/PlayhybridFarm'">Play Trial Version</button>

    
            <p class="mt-4 "> Copyright @2024, Stealth <p>         
            </div>
            
        </div>
        
    </body>
</html>