<div class ="border-bottom row" style="margin-buttom:1px;">
    <div class="col-10">

        <h4  class="text-primary mt-3">{{job['title']}} </h4> 
        <div> <h5 class="text-secondary mb-1"><b class="text-dark">Location : </b>   {{job['location']}} </h5> </div>
        <div><h6 class= "text-secondary mb-1"> <b class="text-dark"> Salary : </b>  {{job['salary']}} </h6> </div>
        <div><p class =" mb-2"> {{job['description']}} </p></div>

    </div>

    <div class="col-2">
    <div><button type="button" class="btn btn-success mt-5"> Apply </button></div>
    <div><p class =" mb-3"> </p> </div>
    </div>
    
</div>